body{
    background-color:#2F4538;
}
.main{
    margin-left: auto;
    margin-right: auto;
    width:35%;
    display:grid;
    grid-template-columns: repeat(1fr,20);
    grid-template-rows: auto;
    grid-template-areas: 
        "picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture"
        "insc insc insc insc insc insc insc insc insc insc insc insc insc insc insc insc customRadio4 customRadio3 customRadio2 customRadio1";
    grid-row-gap: 1vh;
}

.content{
    display: flex;
    flex-direction: column-reverse;
}
.slider{
    grid-area: picture;
    order:1;
    width:100%;
    height: 25vw;
    overflow: hidden;
}
.slides{
    width:400%;
    height:100%;
    display:flex;
}
.slide{
    width: 25%;
    transition: all 1s ease-in-out;
}
.s1{
    margin-left: 0;
}
img{
    height: 100%;
    width:100%;
}
.controlPanel{
    grid-area: insc;
    order:2;
    display:flex;
    justify-content:space-between;
    width:74%;
    height: 100%;
    overflow: hidden;
    justify-self: flex-start;
}
.inscriptionHolder{
    grid-area: insc;
    width:50%;
    height:40%;  
    overflow: hidden;
    justify-self: flex-start;
}
.inscriptions{
    grid-area: insc;
    width:1200%;
    height:100%;
    display:flex;
    justify-self: flex-start;
}
.inscription{
    color:#71FA9F;
    width:25%;
    transition: all 1s ease-in-out;
}

.customRadio{
    border: 1px solid #73AD21;
    cursor: pointer;
    width:10px;
    height:10px;
    border-radius: 10px;
    align-self:flex-end;
}
input[type="radio"]:checked+label {
    background-color: green;
    color: white;
}
.customRadio1{
    grid-area: customRadio1;
}
.customRadio2{
    grid-area: customRadio2;
}
.customRadio3{
    grid-area: customRadio3;
}
.customRadio4{
    grid-area: customRadio4;
}

.customRadio:hover{
    background-color: rgb(94, 175, 94);;
}
input[name="memRadio"] {
    position: absolute;
    visibility: hidden;
 }
 input[name="inscRadio"] {
    position: absolute;
    visibility: hidden;
 }

 #sr1:checked ~.slider .slides .s1 {
    margin-left: 0;
 }
 
 #sr2:checked ~.slider .slides .s1 {
    margin-left: -25%;
 }
 
 #sr3:checked ~.slider .slides .s1{
    margin-left: -50%;
 }
 
 #sr4:checked ~.slider .slides .s1 {
    margin-left: -75%;
 }
 #sr1:checked ~.controlPanel .inscriptonHolder .inscriptions .s1 {
    margin-left: 0;
 }
 
 #sr2:checked ~.controlPanel .inscriptonHolder .inscriptions .s1 {
    margin-left: -25%;
 }
 
 #sr3:checked ~.controlPanel .inscriptonHolder .inscriptions .s1{
    margin-left: -50%;
 }
 
 #sr4:checked ~.controlPanel .inscriptonHolder .inscriptions .s1 {
    margin-left: -75%;
 }
 


 @media screen and (max-width:768px)
 {
    .main{
        margin-left: auto;
        margin-right: auto;
        width:35%;
        display:grid;
        grid-template-columns: repeat(1fr,15);
          grid-template-rows: auto;
        grid-template-areas: 
        "picture picture picture picture picture picture picture picture picture picture picture picture picture picture picture"
        ". . . . customRadio4 . customRadio3 . customRadio2 . customRadio1 . . . ."
        "insc insc insc insc insc insc insc insc insc insc insc insc insc insc insc";
        
        grid-row-gap: 1vh;
        }


 }